includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    # The level 9 is the highest level
    level: 5
    paths:
        - tests
        - src

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    noUnnecessaryCollectionCall: false
